/* 
    Document   : style
    Created on : 2013-4-11, 15:56:19
    Author     : Spy
    Description:
        Purpose of the stylesheet follows.
*/
#container {
    margin: 40px auto;
    overflow: hidden;
    height: 426px;
    width:1280px;
    white-space: nowrap;        /*图片不换行*/
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
#begin, #end,#container ul, #container ul li{
    display:inline;
}